body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}
